body {
  text-align: center
}

.submitButton {
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.returnHome, .catsButton, .dogsButton, .catsAndDogsButton, .dogCostButton, .catCostButton {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.alert {
  display: none;
}
